
/* ---Global--- */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

h1,h2,h3,h4,h6{
    margin: 0px;
    padding: 0px;
}

body {
    background: #f1f4f8;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

body.parent-home .site-sidebar .main-navigation {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
}

/* ----- Portfolio START ----- */

.portfolios-flex{
    background: black;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.portfolios-flex h1{
    color: white;
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    top: 50%;
    opacity: 0.5;
}

.developer-portfolio{
    display: relative;
    background: url(images/codenew.png) left center no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.developer-portfolio-overlay{
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    /* transition-duration: 0.1; */
    width:37.5%;
    height: 100%;
}

.icon-dev-text-container{
    position: relative;
    top:37%;
    text-align: center;
    transition-duration: 1s;
}

.dev-overlay-pic {
    opacity: 0.5;
    transition-duration: 1s;
}

#dev{
    opacity: 0.5;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
}

.photographer-portfolio{
    display: relative;
    background: url(images/rob.jpg) left center no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    white-space: nowrap;
    text-decoration: none;
}

.photo-portfolio-overlay{
    background-color: rgba(0, 0, 0, 0.589);
    position: absolute;
    width:37.5%;
    height: 100%;
}

.icon-photo-text-container{
    position: relative;
    top:37%;
    text-align: center;
    transition-duration: 1s;
}

.photo-overlay-pic{
    opacity: 0.5;
    transition-duration: 1s;
}

#photo{
    opacity: 0.5;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);  
}



/* ----- Portfolio END ----- */



/* ----- Portfolio-Photo START ----- */
.portfolio-container{
    margin: auto;
}

.align-center{
    text-align: center;
  }

  .title-portfolio{
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 28px;
  }

  .subtitle-portfolio{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 400;
      font-size: 16px;
      font-style: italic;
      color: #999;
  }

.centered-element-container{
    height: 100%;
    margin: auto;
    text-align: justify;
    display: flex;
    align-items: center;
}

#video-element{
    padding: 5%;
}

.icon{
    font-size: 50px;
    color: 2c3e50;
    display: inline-block;
    margin: auto;
}

.icon:hover{
    cursor: pointer;
}


/* ----- Portfolio-Photo END ----- */


.skills-n-offer-img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:80%;
    max-width: 767px;
}

.site-sidebar{
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: #00232ed2;
    text-transform: uppercase;
}

.site-sidebar nav{
    text-align: left;
}

.site-sidebar{
    text-align: center; 
}

.site-sidebar-inner{
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 45px 40px;
    
}

.person {
    display: block;
}

.person,
.person:hover{
    color: inherit;
    text-decoration: none;
}

.site-sidebar person{
    text-align: center;
}

.person a:hover{
    text-decoration: none;
}

.person-avatar{
text-align: center;
}

.avatar{
    width: 165px;
    height: 165px;
    border-radius: 50%;
}

.person-info{
    white-space: nowrap;
}

.person-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 15px;
}

.person-subtitle{
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
}

.site-main {
    height: 100%;
    margin-left: 25%;
    text-align: justify;
    display: flex;
    align-items: center;
}

.site-main .site-main-inner {
    position: relative;
    display: block;
}

.site-main::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 25%;
    background: url(images/homebg.jpg) top center no-repeat #910c0c;
    background-size: auto;
    background-size: cover;
}

#about{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 75%;
    background: url(images/jatlo.jpg) top center no-repeat #910c0c;
    opacity: 90%;
    background-size: auto;
    background-size: cover;
}

.about-caption{
    margin-left: 40px; 
    font-weight: 300; 
    font-size: 25px; 
}

/* .appear-delayed{

} */

.button{
    display: inline-block;
    padding: .4em .8em;
    line-height: 1;
    text-shadow: 0px 0px 0px rgba(0,0,0,.6);    


    font-size: 1em;;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    opacity: .8;
    /* box-shadow: 0px 0px 0px rgba(0,0,0,.47); */
}

.button .button-outline{
    border: 1px solid;
}

.button .button-white{
    color:white;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.home-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url(images/homebg.jpg) top center no-repeat #bababa;
    background-size: auto;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    padding-left: 110px;
    padding-top: 130px;
    font-size: 12px;
}

.timeline{
    font-size: 16px;
margin-left: -50px;
}

.main-container{
    /* margin: 50px; */
    padding: 50px;
    /* width: 90%; */
}

.date{
    color:red;
    opacity: 0.5;
    width: min-content;
    /* border-bottom: 2px solid red; */
    float: left;
    line-height: 30px;
}

.empty{
    text-align: right;
    font-style: normal;
    line-height: 30px;
}

.empty-time{
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 90px;
padding: 30px 15px;
padding-top: 60px;
color: #999;
text-align: right;
font-style: italic;
line-height: 30px;
border-right: 1px solid #cecece;
}

.empty-time::after{
    font-style: normal;
    content: " ";
    position: absolute;
    top: 73.5px;
    right: -2.5px;
    display: block;
    width: 5px;
    height: 5px;
    background-color:  #e64c3c;
}

/* .date::before{
    margin-left: 30px;
    content: '•';
} */

.main-section{
    /* width: 0%; */
    /* padding: 55px; */
    background-color: #f1f4f8;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: block;
}

.main-intro h1{
    text-transform: uppercase;
}

.main-intro{
    margin: 7% 15%;
}

.main-intro ul{
    list-style: inside;
    margin-right: 80px ;
}

.main-section h1{
    text-transform: uppercase;
}

.main-title{
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    font-size: 18px;
    color: #e64c3c;
}

.main-subtitle{
    color: #e64c3c;
    font-size: 40px;
}

.home-section .home-section-inner {
    max-width: 840px;
    margin-left: 25%;
    /* text-shadow: 3px 3px 2px rgba(0,0,0,.6); */
}

.home-section .home-headline {
    font-size: 4em;
    font-weight: 500;
}

.home-section .home-subheadline{
    font-size: 3em;
    font-weight: 300;
    text-transform: none;
}

.main-navigation {
    margin: 45px -40px 45px;
    line-height: 30px;
    position: relative;
    font-size: 14px;
}

.main-navigation a{
    text-decoration: none;
}

.main-navigation ul {
    font: normal 'Lato', Helvetica, sans-serif;
    margin: 0%;
    list-style: none;
}

.main-navigation ul li {
    position: relative;
}

.interests-caption{
    color: #00232ed2;
    max-width: 95%;
}

.navigation-extended-bar{
    margin-top: 35px;
}

.linked-text a{
    color: rgb(255, 255, 255);
}

.linked-text a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-text a{
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.nav-text a:hover{
    color: #e64c3c;
    text-decoration: none;
}

.current a{
    color: #e64c3c;
    font-weight: 100;
}

.sublist li::before{
    content: ">";
}

.sublist > .current{
color: #e64c3c;
}

.person-pic{
    border-radius: 50%;
}

.site-sidebar .site-sidebar-bg{
    background-color: brown;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button.button-outline:hover{
    opacity: 1;
    box-shadow: 2px 2px 10px rgba(0,0,0,.17);
    text-shadow: 2px 2px 1px rgba(0,0,0,.1);
}

.button.button-white {
    color: #fff;
}
.button.button-outline {
    border-width: 1px;
    border-style: solid;
}

.work-bg-intro{
    margin-top: 20px;
    margin-left: 20px;
}

.workplaces{
    margin-left: -50px;
    overflow: hidden;
    margin-top: 50px;
}

.workplaces-title{
    display: inline-block;
    width: 100%;
    vertical-align:bottom;
}

.timeline-workplace{
    position: relative;
    list-style: none;
    margin-top:15px;
    margin-bottom:15px;
    height: 100%;
    width: 100%;
    min-height: 250px;
    max-width: 100%;
}

.timeline-contents{
    margin-left: 160px;
    padding: 60px 0;
    border-top: 1px solid #cecece;
    opacity: 1;
    transition: all 1.2s;
    transition-delay: 0.1s;
}

.timeline-now{
    border-top: none;
    padding-top: 60px;
}


.timeline-workplace ul{
    list-style: circle;
}

.show{
    opacity: 1;
    left:0;
}

.shown{
    opacity: 1;
}

.hide{
    opacity: 0;
    left: -100%;
}

.shadow-headline{
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}

.workplaces > ul, .workplaces > ul > li{
    margin: 0;
    padding: 0;
}

.workplace-text >ul{
    padding-left: 30px;
    font-weight: 300;
    font-style: italic;
    padding-right: 25px;
}

.workplaces ul{
overflow: hidden;
}

.workplace-text{
    margin-left: 30px;
    width: 50%;
    float: left;
}

.workplace-heading{
    margin-bottom: 15px;
}

.workplace-subheading{
    width: 100%;
    display: inline-block;
    /* color: #e64c3c; */
    line-height: 25px;
}

.workplace-info{     /*change on media*/ 
    width: 50%;
}

.workplace-image{   /*change on media*/ 
    /* float: right; */
    /* width: 50%; */
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width:1410px){
    .workplace-text{
        width: 100%;
        margin-bottom: 20px;
        /* overflow-wrap: break-word; */
    }
    .workplace-image{
        width: 100%;
    }
    
}

@media screen and (max-width:1270px){

    
}
